<header class="jumbotron hero-spacer">
    <h1>Courses Page</h1>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
</header>

<%

  let { search , type , order , category } = req.query; 

%>

<form action="/courses" method="GET">

    <% if(search) { %> 
        <div class="form-group col-md-3">
          <input type="hidden" name="search" value="<%= search %>">
          <span>The phrase is searched: <%= search %> <a href="/courses?<%= type ? 'type=' + type : '' %><%= order ? '&order=1' : '' %>" class="btn btn-sm btn-dark">Delete</a></span> 
        </div>  
    <% } %>

    <div class="form-group col-md-3">
        <select name="type" class="form-control">
            <option value="all">All courses</option>
            <option value="vip" <%= type === 'vip' ? 'selected' : '' %>>VIP</option>
            <option value="cash" <%= type === 'cash' ? 'selected' : '' %>>Cash</option>
            <option value="free" <%= type === 'free' ? 'selected' : '' %>>Free</option>
        </select>
    </div>

    <div class="form-group col-md-3">
        <select name="category" class="form-control">
            <option value="all">All courses</option>
            <% categories.forEach(cate => {  %>
                <option value="<%= cate.slug %>" <%= cate.slug  === category ? 'selected' : '' %>><%= cate.name %></option>
            <% }) %>
        </select>
    </div>


    <div class="form-group col-md-3">
        <label class="checkbox-inline">
            <input type="checkbox" name="order" value="1" class="ml-2" <%= order === '1' ? 'checked' : '' %>>  From beginning to end
        </label>
    </div>

    <div class="form-group col-md-3">
        <button class="btn btn-danger" type="submit">Filter</button>
    </div>
</form>

<hr>

<% if(courses.length) { %>
    <div class="row">
        <% courses.forEach(course => { %>
        <div class="col-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="<%= course.thumb %>" alt="<%= course.title %>">
                <div class="card-body">
                    <h3><a href="<%= course.path() %>"><%= course.title %></a></h3>
                    <p class="card-text"><%- course.body.substr(0,100) %></p>
                    <a href="<%= course.path() %>" class="btn btn-primary btn-sm">more information</a>
                </div>
                <div class="card-footer text-muted">
                    <%= course.viewCount %> View
                </div>
            </div>
        </div>
        <% }) %>
    </div>
<% } else { %>
    <div class="row">
        <p>Course not exist</p>
    </div>
<% } %>


<%- include(viewPath('layouts/pagination') ,{ pagination : courses}) %>